body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-earth-americas {
    color: #29d4c3;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* Footer */

footer {
    margin-top: auto;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-links , .f-info-socials ,.f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}   

/* CARD */
.listing-card {
    margin-bottom: 1rem;
    border: none !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important ;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none !important;
}

/* CARD EFFECT */

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* Buttons New page*/
.add-btn {
    background-color: #ff385c !important;
    color: white !important;
}

/* Show page */
.show-img {
    height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    
}

.btns{
    display: flex;
    gap: 1rem;  
}